.container-notFound {
  height: 217px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info-notFound {
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}
