.header-container {
  display: flex;
  background: #661c87;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 9;
}
.logo {
  width: 10rem;
  height: 3rem;
  margin: 10px;
  object-fit: cover;
}
.navList {
  display: flex;
  align-items: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  gap: 2.5rem;
}

.navList li .link {
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  font-weight: 900;
  transition: 0.6s;
  box-shadow: linear-gradient(180deg, rgb(255, 255, 255), #02fd41a9);
}
.navList li a:hover {
  transition: 0.6s;
  transform-box: border-box;
  text-shadow: 0 0 20px #00fb47, 0 0 40px #02fd41a9;
}
.openMenu,
.closeMenu {
  display: none;
  visibility: hidden;
  color: aliceblue;
}
.mode {
  color: aliceblue;
  cursor: pointer;
  transition: 1s;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (max-width: 1026px) {
  .openMenu,
  .closeMenu {
    display: block;
    visibility: visible;
  }
  .hamburger svg {
    display: block;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    position: absolute;
    top: 85px;
    right: 0;
    background-color: rgb(33, 33, 33);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    width: 250px;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .navList {
    align-items: end;
    flex-direction: column;
  }
}
