.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(135, 135, 135);
  width: 100%;
}
.navList {
  display: flex;
  list-style: none;
  padding: 1rem;
  font-size: clamp(1rem, 5vh, 1.5rem);
  font-weight: 900;
  gap: 1rem;
}
.navList li a {
  color: azure;
  text-decoration: none;
}
