* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: black;
  color: azure;
  overflow-x: hidden;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #661c87;
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-weight: 900;
  padding: 10px;
}
